@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE Ð¸ Edge */
  scrollbar-width: none;      /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.35s ease forwards;
}

.animate-slideDown {
  animation: slideDown 0.35s ease forwards;
}
